@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Poppins:wght@300;400;500;600&display=swap");
//colors
$grey: #202020;
$greyActive: #1a1a1a;
$yellow: #f0c808;
$yellowHover: #987e00;
//fonts
$poppins: "Poppins", sans-serif;
$gugi: "Gugi", cursive;
//font weight
$light: 300;
$regular: 400;
$bold: 600;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $poppins;
  color: white;
}

body {
  background-color: $grey;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
